body
{
	background-image: url("white.jpg");
	background-position: fixed;
	background-size: cover;
}

	.login_div1 , .login_div2
	{

		padding: 10px;
		float: none;
		border-radius: 15px;
		height: 115px;
		width: 450px;
	}


h1 {
	margin-top: 150px;
	margin-bottom: 50px;
}


#btn {
	width: 26%;
	height: 30px;
	border-color: rgba(255, 255, 255, 0);
	font-size: 20px;
}
z
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
